<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WatchOutYourNeck</title>
    <link href = "{{url_for('static', filename = 'css/my.css')}}" rel = 'stylesheet'>
</head>
<body>
    <br><h1>거북목</h1><br><br><br>
    <a href = "http://127.0.0.1:5000/1p" class = 'button'>Turtle or Not (Quick_ver)</a><br><br><br>
    <a href = "http://127.0.0.1:5000/2p" class = 'button'>CCTV for my neck</a><br><br><br>
    <a href = "http://127.0.0.1:5000/3p" class = 'button'>Statistics for my neck</a><br><br><br>

</body>
</html>